<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personagens</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/secondPage.css">
    <script src="../../scripts/index.js"></script>
</head>
<body>
    <section id="box">
        <div id="title">
            <img src="../img/manequim.jpg" id="manequim" alt="">
            <h1>Seus Personagens</h1>
            <img src="../img/manequim.jpg" id="manequim" alt="">
        </div>
        <hr>
        <div id="personagens">
            <p id="qntdPersonagens">Você tem personagens criados</p>
            <div id="personagemButton"></div>
            <div id="showPerso"></div>
        </div>
        <div id="button">
            <button id="show" onclick="back(1)">Voltar para criação</button>
        </div>
    </section>
    
    <script src="../../scripts/secondPage.js"></script>
</body>
</html>